.wrap{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}


input{
  margin-top: 10rem;
  margin-bottom: 3rem;
  width: 15rem;
  height: 3rem;
  text-align: center;
  border: none;
  text-transform: uppercase;
}
.container{
flex-direction: row;
width: 70%;
}

.container img{
  width: 15rem;
  height: 10rem;
  float: left;
  margin:.3rem;

}